# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python package


on:
  issues:
    types: [opened, edited]
jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      # matrix:
        # python-version: ["3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: 3.11
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8 pytest
        python -m pip install pyyaml
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Get issue body
      id: issue
      uses: actions/github-script@v6
      with:
        script: |
          const issue = await github.rest.issues.get({
          owner: context.repo.owner,
          repo: context.repo.repo,
          issue_number: context.issue.number
          });
          const issueBody = issue.data.body;
          console.log(issueBody);
          
          # core.setOutput('issue_content', fullContent);
          # const fs = require('fs');
          # const path = require('path');

          # const filePath = `issue-content.md`);
          # fs.writeFileSync(filePath, fullContent);
          # console.log(`Issue content saved to ${filePath}`);
          
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    
    - name: Test
      run: |
        echo "hello world!"
